:root {
  --bg-dark: #080f1f;
  --bg-card: #111b31;
  --bg-input: #17233b;

  --primary: #5865f2;
  --primary-light: #6675ff;

  --text-main: #f5f7ff;
  --text-muted: #91a0bd;

  --border: #263552;

  --success: #3ee0b0;
}

/* Login/Register page styles */
.login-page,
.register-page {
  width: 400px;
  margin: 80px auto;
  padding: 40px;
  background: #111827;
  border: 1px solid #26324a;
  border-radius: 12px;
}

/* Input group */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.input-group label {
  color: white;
  font-size: 14px;
}

.input-group input {
  padding: 12px;
  background: #182235;
  border: 1px solid #334155;
  border-radius: 8px;
  color: white;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

/* OR */
.or {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 25px 0;
}

.or hr {
  flex: 1;
  border: none;
  border-top: 1px solid #334155;
}

.or p {
  color: #94a3b8;
  font-size: 13px;
}

/* authentication switch */
.auth-switch {
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
}

.auth-switch a {
  color: #818cf8;
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 32px;

  background-color: var(--bg--card);
  border-bottom: 1px solid var(--border);
}

.navbar-welcome {
  color: var(--text-main);
  font-size: 16px;
  font-weight: 600;
}

.navbar-logout {
  padding: 8px 16px;
  width: auto;

  background-color: var(--primary);
  color: var(--text-main);

  border: none;
  border-radius: 6px;
  cursor: pointer;
}
