/* Global reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: Arial, sans-serif;
}
:root {
  --bg-dark: #080f1f;
  --bg-card: #111b31;
  --bg-input: #17233b;

  --primary: #5865f2;
  --primary-light: #6675ff;

  --text-main: #f5f7ff;
  --text-muted: #91a0bd;

  --border: #263552;

  --success: #3ee0b0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
